@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    padding: 50px;
    margin: auto;
    width: 75%;
}

.flex {
    display: flex;
    column-gap: 42px;
    row-gap: 75px;
    flex-wrap: wrap;
}

.err {
    color: #f00;
}

input[type="submit"] {
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    transition: all 0.3s ease;
    --tw-shadow: 0 0 #0000;
}

input[type="submit"]:hover {
    color: #fff; 
    border-color: #fff; 
    background: transparent;
}

.nav-menu {
    position: relative;
}

.adminButton {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}

.filter-sort {
    background: #1f2937;
    border-bottom: 1px solid #374151;
}

.sort-block{
    border-bottom: 1px solid #374151;
}

.sort-block,
.filter-block {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 15px;
    margin: auto;
    width: 60%;
}

.filter-sort a {
    display: block;
    padding: 12px 30px;
    border: 1px solid #9ca3af;
    color: #9ca3af;
    transition: all 0.3s ease;
}

.filter-sort a:hover {
    border: 1px solid #fff;
    color: #fff;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}

.table {
    width: 100%;
}

.table td, 
.table th {
    border: 1px solid #fff;
}

p,
a,
.table td, 
.table th {
    color: #fff;
}

.backButton {
    top: 76px;
    left: 10px;
    max-width: 200px;
    padding: 12px 50px;
    border: 1px solid #fff;
    color: #fff;
    position: absolute;
    transition: all 0.2s ease;
}

.backButton:hover {
    background: #fff;
    color: #000;
}

.product, 
.product h2 {
    display: block;
    padding: 25px;
    border: 1px solid #fff;
    max-width: 250px;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.num-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.product p {
    font-size: 12px;
}

.product-createButton {
    top: 76px;
    left: 10px;
    max-width: 200px;
    padding: 12px 50px;
    border: 1px solid #fff;
    color: #fff;
    position: absolute;
    transition: all 0.2s ease;
}

.product-createButton:hover {
    background: #fff;
    color: #000;
}