@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    padding: 50px;
    margin: auto;
    width: 75%;
}

.table {
    width: 100%;
}

.table td, 
.table th {
    border: 1px solid #fff;
}

p,
a,
.table td, 
.table th {
    color: #fff;
}

.backButton {
    top: 76px;
    left: 10px;
    max-width: 200px;
    padding: 12px 50px;
    border: 1px solid #fff;
    color: #fff;
    position: absolute;
    transition: all 0.2s ease;
}

.backButton:hover {
    background: #fff;
    color: #000;
}